footer {
  background-color: #464547;
  height: 200px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff; }

footer .footer_info {
  padding-top: 58px;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

footer .footer_info .footer_info_logo {
  text-align: center;
  display: flex;
  flex-direction: row;
  margin-left: 16px;
  gap: 16px; }

footer .footer_info .footer_info_logo h2 {
  font-size: 18px; }

footer .footer_info .footer_info_contact {
  display: flex;
  flex-direction: column;
  margin-left: -16vw; }

footer .footer_info .footer_info_contact a {
  padding-top: 27px;
  text-decoration: none;
  color: #fff;
  opacity: 0.5; }

footer .footer_info .footer_info_contact span {
  opacity: 0.5; }

footer .footer_info .footer_info_rights {
  opacity: 0.5;
  padding-top: 64px; }
